$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?4b21ce9d2a65546bb3b77325c7321f32") format("truetype"),
url("./flaticon.woff?4b21ce9d2a65546bb3b77325c7321f32") format("woff"),
url("./flaticon.woff2?4b21ce9d2a65546bb3b77325c7321f32") format("woff2"),
url("./flaticon.eot?4b21ce9d2a65546bb3b77325c7321f32#iefix") format("embedded-opentype"),
url("./flaticon.svg?4b21ce9d2a65546bb3b77325c7321f32#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "nike": "\f101",
    "enviado": "\f102",
    "instagram": "\f103",
    "facebook": "\f104",
    "youtube": "\f105",
    "promociones": "\f106",
    "pelota-de-baloncesto": "\f107",
    "zapatillas": "\f108",
    "aparcamiento": "\f109",
    "usuario": "\f10a",
    "carrito-de-compras": "\f10b",
);

.flaticon-nike:before {
    content: map-get($flaticon-map, "nike");
}
.flaticon-enviado:before {
    content: map-get($flaticon-map, "enviado");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
.flaticon-promociones:before {
    content: map-get($flaticon-map, "promociones");
}
.flaticon-pelota-de-baloncesto:before {
    content: map-get($flaticon-map, "pelota-de-baloncesto");
}
.flaticon-zapatillas:before {
    content: map-get($flaticon-map, "zapatillas");
}
.flaticon-aparcamiento:before {
    content: map-get($flaticon-map, "aparcamiento");
}
.flaticon-usuario:before {
    content: map-get($flaticon-map, "usuario");
}
.flaticon-carrito-de-compras:before {
    content: map-get($flaticon-map, "carrito-de-compras");
}
